<!DOCTYPE html>
<html>

<head>
    <title>SoloPong</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body style="
    background: linear-gradient(
      138.18deg,
      #0f172a,
      #000022 48.68%,
      #000033 105.61%
    );
    ">
    <h1 class="text-3xl font-extrabold m-5 text-white text-center font-inter">SoloPong 🏓🏓</h1>
    <div style="display: flex; justify-content: center;">
        <img src="{{ url_for('video_feed') }}" />
    </div>
    <footer class="bg-opacity-50 backdrop-filter backdrop-blur-lg rounded-lg p-4 text-center">
        <p class="text-white">See source code <a href="https://github.com/ayush-that/SoloPong"
                target="_blank">here</a><br>
            Made by Ayush ❤️</p>
    </footer>
    </footer>

</html>